body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(140,168,7,1) 100%);
    color: #fff;
    height: 100vh;
}

#watch{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 5rem;
}